<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YouTube API training app</title>

    <!-- Style sheets -->
    <link rel="stylesheet" href="css/style.css">
    <link href="css/bootstrap.css" rel="stylesheet">
</head>
<body ng-app="ytApp" ng-controller="MainController as vm">
<nav class="navbar navbar-inverse">
    <div class="container">
        <a ui-sref="welcome" class="navbar-brand">YouTube API App</a>

        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" ng-if="vm.isLoggedIn">
            <ul class="nav navbar-nav">
                <li><a ui-sref="home.player">Player</a></li>
                <li><a ui-sref="home.search">Search</a></li>
                <li><a ui-sref="home.edit">Playlists</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">{{vm.userInfo.fullName}} <img class="user-minipic"
                                                                               ng-if="vm.userInfo.picture"
                                                                               ng-src="{{vm.userInfo.picture}}">
                        <i class="glyphicon glyphicon-user" ng-if="!vm.userInfo.picture"></i>
                    </a>
                </li>
                <li><a ng-click="vm.logOut()" class="clickable"><i class="glyphicon glyphicon-off"></i></a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse clickable" ng-if="!vm.isLoggedIn">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="vm.logIn()">Log In</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div ui-view></div>
</div>
<!-- Library Scripts -->
<script src="js/jquery.js"></script>
<script src="js/angular.js"></script>
<script src="js/angular-resource.js"></script>
<script src="js/angular-ui-router.js"></script>
<script src="js/angular-google-gapi.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/underscore-min.js"></script>

<!-- Application Scripts -->
<script src="app/app.js"></script>

<!-- Services -->
<script src="common/services/common.services.js"></script>
<script src="common/services/authorizationService.js"></script>
<script src="common/services/playlistResource.js"></script>
<script src="common/services/playlistitemsResource.js"></script>
<script src="common/services/searchResource.js"></script>
<script src="common/services/playlistService.js"></script>

<!-- Controllers -->
<script src="app/home/homeController.js"></script>
<script src="app/search/searchController.js"></script>
<script src="app/edit/editController.js"></script>
<script src="app/main/mainController.js"></script>

</body>
</html>
