<?xml version="1.0" encoding="utf-8"?>
    <configuration>
        <system.webServer>
            <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
            <staticContent>
                <remove fileExtension=".svg" />
                <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
                <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            </staticContent>
        </system.webServer>
    </configuration>
