<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
            <div ng-show="vm.currentView() != 'home.edit'" class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
            <!-- /input-group -->
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-9">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle playlist-dropdown" type="button" id="playlistDropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            PlayLists
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu playlist-dropdown" aria-labelledby="playlistDropdown">
                            <li ng-repeat="playlist in vm.playlists">
                                <a ng-click="vm.changePlayList(playlist)">
                                    {{playlist.snippet.title}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default" ng-click="vm.toggleEdit()">
                        <span class="glyphicon glyphicon-list"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div ui-view></div>
        </div>
        <div class="col-md-3">
            <ul class="list-group playlist-control">
                <li class="list-group-item" ng-repeat="video in vm.videos"><a href="#">{{video.name}}</a></li>
            </ul>
        </div>
    </div>
</div>
