<div class="nested-view">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <div class="input-group">
                    <input id="new-playlist-title-box"
                           type="text"
                           class="form-control"
                           placeholder="New Playlist">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="playlist in vm.playlists">
                <td><img ng-src="{{playlist.snippet.thumbnails['default'].url}}"></td>
                <td class="row">
                    <div class="col-md-11">
                        <h2>{{playlist.snippet.title}}</h2>
                    </div>
                    <div class="col-md-1">
                        <button type="button"
                            class="close-button"
                            title="Remove playlist"
                            ng-click="vm.removePlaylist(playlist)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
