<div class="jumbotron">
    <div class="row">
        <div class="col-md-9">
            <div class="input-group" ng-if="!vm.isEditMode()">
                <input type="text" ng-model="vm.searchText" class="form-control" enter-press="vm.getSearchResult()" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="vm.getSearchResult()" type="button"><span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
            <!-- /input-group -->
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-9">
                    <div dropdown class="btn-group">
                        <button dropdown-toggle class="btn btn-default" type="button" id="playlistDropdown" aria-haspopup="true" aria-expanded="true">
                            {{vm.playlistService.selectedPlaylist().snippet.title}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="playlistDropdown">
                            <li ng-repeat="playlist in vm.playlistService.playlists">
                                <a ng-click="vm.setCurrentPlaylist(playlist)">
                                    {{playlist.snippet.title}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button class="btn btn-default pull-right visible-sm visible-xs" ng-click="vm.toggleEdit()" title="Edit mode">
                        <i class="glyphicon glyphicon-list"></i>
                    </button>
                </div>
                <div class="col-md-3 visible-md visible-lg">
                    <button class="btn btn-default" ng-click="vm.toggleEdit()" title="Edit mode">
                        <i class="glyphicon glyphicon-list"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div ui-view></div>
        </div>
        <div class="col-md-3">
            <div class="list-group playlist-control">
                <div ng-repeat="item in vm.playlistService.selectedPlaylist().items">
                    <div class="list-group-item playlist-item">
                        <span ng-click="vm.setCurrentPlaylistItem(item)" class="clickable">{{item.snippet.title}}</span>
                        <button type="button" class="close-button pull-right top-right-corner" ng-if="vm.isEditMode()" title="Remove playlist" ng-click="vm.removeFromPlaylist(item)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
